# este es el archivo marcador de ignorados de git
# cada línea se interpreta como un patrón a ignorar

# Inés me pasó su trabajo de la asignatura, cuya licencia es
# «Restringida. Disponible sólo para investigaciones académicas»
# para ayudarme y ver cómo lo había hecho. El archivo no es parte
# del repositorio
Vicente Baena.xml

# También me pasó algunos apuntes que tomó sobre las indicaciones
# del propio trabajos, proyectos relevantes y demás. Queda también excluido
Info Trabajo de Curso Bloque II.pdf
